In [24]:
import pandas as pd
import numpy as np
import seaborn as sns

In [25]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [26]:
print(df.head())

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [27]:
print(df.tail())

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

In [28]:
unique_methods_count = df['method'].nunique()
print(unique_methods_count)

10

### What is the number of data collected in each year?

In [29]:
data_per_year = df['year'].value_counts()
print(data_per_year)

year
2011    185
2012    140
2013    118
2010    102
2009     98
2008     74
2007     53
2014     52
2005     39
2002     32
2006     31
2004     26
2003     25
2000     16
1999     15
2001     12
1996      6
1998      5
1992      2
1995      1
1997      1
1989      1
1994      1
Name: count, dtype: int64

### Which columns have missing values and how many?

In [30]:
missing_values = df.isnull().sum()
print(missing_values)

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

### Write docstring for the function below.

In [31]:
def do_something(x, y, z):
    """
    Verilen x, y, z degerlerinin her birinin carpmaya gore tersini alip toplayip toplamin carpmaya gore tersini alir.

    Args:
        x (float): İlk sayi
        y (float): İkinci sayi
        z (float): Ucuncu sayi

    Returns:
        float: Hesaplama sonucu dondurulen deger.
    
    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [32]:
print(do_something.__doc__)

    Verilen x, y, z degerlerinin her birinin carpmaya gore tersini alip toplayip toplamin carpmaya gore tersini alir.

    Args:
        x (float): İlk sayi
        y (float): İkinci sayi
        z (float): Ucuncu sayi

    Returns:
        float: Hesaplama sonucu dondurulen deger.

### Call do_something function for the (11,13,15) values and save it as result

In [33]:
result = do_something(11, 13, 15)

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [34]:
s = "I love Machine Learning and Deep Learning"
word = s.split()[int(result)]
print(word)

and

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [35]:
import random

arr = [random.randint(1, 100) for i in range(10)]

def bubbleSort(array):
    n = len(array)
    for i in range(n - 1):
        for j in range(0, n - i - 1):
            if array[j] > array[j + 1]:
                array[j], array[j + 1] = array[j + 1], array[j]

print(arr)

[37, 4, 94, 64, 42, 55, 48, 10, 68, 37]

### define a recursive function to calculate input numbers factorial named factorial

In [36]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial(5)

120

### define a function to merge the given arrays and calculate the median named twoMedian

In [37]:
def calculate_median(input_array1, input_array2):
    merged_array = sorted(input_array1 + input_array2)
    length = len(merged_array)

    if length % 2 == 0:
        mid = length // 2
        median = (merged_array[mid - 1] + merged_array[mid]) / 2
    else:
        mid = length // 2
        median = merged_array[mid]

    return median

arr1 = np.array([13, 24, 35, 56, 67])
arr2 = np.array([2, 15, 30, 40, 55])
median = calculate_median(arr1, arr2)
print(median)

65